//seccion de contacto
.imgenesContacto{
	width: 100%;
}
.botonAzulLiga{
	@extend .botonAzul;
	line-height: normal;
	padding:1.2em 3em .6em 3em;
}
.campoContacto{
	background:$grisclaro-color;
	color:$grisoscuro-color;
	margin: .5em 0;
}
.tituloContacto{
	margin-bottom:1em;
}
.ligasContacto{
	text-align:center;
}
.ligasContacto p{
	font-size:1.5em;
	width:25%;
	margin:auto;
}
.ligasContacto h3{
	text-transform:uppercase;
	margin-top:2em;
}
.ligasContacto button{
	margin: 1em 0;
}