$azul-color:#020C61;
$naranja-color:#FFB700;
$grisoscuro-color:#575757;
$grisclaro-color:#E8E8E8;
@import "iconos.scss";
@import "bootstrap.min.scss";
@font-face {
font-family: Gotham-Bold;
	src: url(Gotham-Bold.ttf);
}
@font-face {
font-family: Gotham-Book;
	src: url(Gotham-Book.ttf);
}
@font-face {
font-family: Gotham-Light;
	src: url(Gotham-light.ttf);
}
html{
	overflow-x:hidden; 
}
input{
	color:black;
	width:100%;
	margin: .25em 0;
}
a{
	color:white;
}
a:hover{
	color:$naranja-color;
	background: none !important;
}
body{
	font-family:Gotham-Book;
	color:white;
}
strong{
	font-family:Gotham-Bold;
	color:$naranja-color;
}
h4{
	text-transform:uppercase;
	margin: 3em 0 1em 2em;	
}
h5{
	font-family:Gotham-Bold;
	text-transform:uppercase;
	color:$azul-color;
	font-size:1rem;
}
.imgenesHome,.imgenesHome2,.imgenesNosotros,.imgenesServicio {
	width: 100%;
}
.naranja{
	color:$naranja-color;
}
.fondoNaranja{
	background:$naranja-color;
}
.azul{
	color:$azul-color;
}
.fondoAzul{
	background:$azul-color;
}
.grisClaro{
	color:$grisclaro-color;
}
.fondoClaro{
	background:$grisclaro-color;
}
.grisOscuro{
	color:$grisoscuro-color;
}
.fondoGrisOscuro{
	background:$grisoscuro-color;
}
//seccion Principal
@import "inicio.scss";
// Seccion de servicios
@import "servicios.scss";
// seccion de nosotros
@import "nosotros.scss";
// seccion de oficinas
@import "oficinas.scss";
//seccion de noticias
@import "noticias.scss";
//seccion de contacto
.imgenesContacto{
	width: 100%;
}
.botonAzulLiga{
	@extend .botonAzul;
	line-height: normal;
	padding:1.2em 3em .6em 3em;
}
.campoContacto{
	background:$grisclaro-color;
	color:$grisoscuro-color;
	margin: .5em 0;
}
.tituloContacto{
	margin-bottom:1em;
}
.ligasContacto{
	text-align:center;
}
.ligasContacto p{
	font-size:1.5em;
	width:25%;
	margin:auto;
}
.ligasContacto h3{
	text-transform:uppercase;
	margin-top:2em;
}
.ligasContacto button{
	margin: 1em 0;
}
//seccion de ingresar
.botonNaranjaIngresar{
	@extend .botonNaranja;
	height: 9.3em;
}
.formularioReg{
	margin: 1em 0 3em 0;
}
.registro{
	margin-top:2em;
}
.ingresar{
	margin-top:2em;
}
.formularioIng{
	margin: 1em 0 7.7em 0;
}
//seccion de ligas de interes
.cuadroLigas{
	height:335px;
}
.tituloLigas{
	@extend .tituloContacto;
	margin-left:4em;
}
.footerLigas{
	text-transform:uppercase;
	text-align:center;
	font-size: 1.5em;
	padding: 1em 0;
}