$azul-color:#020C61;
$naranja-color:#FFB700;
$grisoscuro-color:#575757;
$grisclaro-color:#E8E8E8;
@import "iconos.scss";
@import "bootstrap.min.scss";
@font-face {
font-family: Gotham-Bold;
	src: url(Gotham-Bold.ttf);
}
@font-face {
font-family: Gotham-Book;
	src: url(Gotham-Book.ttf);
}
@font-face {
font-family: Gotham-Light;
	src: url(Gotham-light.ttf);
}
html{
	overflow-x:hidden; 
}
input{
	color:black;
	width:100%;
	margin: .25em 0;
}
a{
	color:white;
}
a:hover{
	color:$naranja-color;
	background: none !important;
}
body{
	font-family:Gotham-Book;
	color:white;
}
strong{
	font-family:Gotham-Bold;
	color:$naranja-color;
}
h4{
	text-transform:uppercase;
	margin: 3em 0 1em 2em;	
}
h5{
	font-family:Gotham-Bold;
	text-transform:uppercase;
	color:$azul-color;
	font-size:1rem;
}
.menu_movil{
	display: none;
}
.imgenesHome,.imgenesHome2,.imgenesNosotros,.imgenesServicio {
	width: 100%;
}
.naranja{
	color:$naranja-color;
}
.fondoNaranja{
	background:$naranja-color;
}
.azul{
	color:$azul-color;
}
.fondoAzul{
	background:$azul-color;
}
.grisClaro{
	color:$grisclaro-color;
}
.fondoClaro{
	background:$grisclaro-color;
}
.grisOscuro{
	color:$grisoscuro-color;
}
.fondoGrisOscuro{
	background:$grisoscuro-color;
}
//seccion Principal
@import "inicio.scss";
// Seccion de servicios
@import "servicios.scss";
// seccion de nosotros
@import "nosotros.scss";
// seccion de oficinas
@import "oficinas.scss";
//seccion de noticias
@import "noticias.scss";
//seccion de contacto
@import "contacto.scss";
//seccion de ingresar
@import "ingresar.scss";

@media screen and (max-width:1024px){
	.cajaPrincipal{left: 0;bottom:190px;}
	.menu_principal{width: 71% !important;}
	.esloganPrincipal{left: 210px;top:150px;}
	.esloganPrincipal p{font-size: 1.5em;}
	.cuadroNaranja p{font-size: 1.8em;}
	.botonIngresarHome{margin-left: 81%;}
}
@media screen and (max-width:768px){
	.esloganPrincipal, .carousel-indicators, .row>.sinpadding>.imgenesHome,.bordesaladosOscuro{display: none;}
	.menu_principal{width: 100% !important;padding-left:0;}
	.bt-menu{color: $grisclaro-color;}
	.item > img{width:100vw !important;height:50vh !important;}
	.menu_movil{
		background: $grisoscuro-color;
		display: block;font-size: 2rem;
		position: fixed;float:left;
		z-index: 999;left: 2em;
		top:1em;border-radius: 50%;
		padding: .4em .5em 0 .5em;
		align-content: center;}
	.opcionesMenuSociales{display:none !important;}
	.botonIngresarHome{margin:2em;}
	.cajaPrincipal{
		width:75%;
		height:100%;left:-100%;
		margin:0;position: fixed;
		background: $azul-color;
		padding: 1em 2em;
		bottom: 0;z-index: 1999;}
	.lista{width:95%;}
	.lista a > button{margin:2em 0 0 4em;}
	.cajaPrincipal>img{vertical-align: initial;}
	.cuadroNaranja{height: 200px;}
	.cuadroNaranja>p{font-size:1.5em;}
	.cuadroAzul{font-size:12px;}
	.cuadroAzul>h4{margin: 0 0 0 2em;padding: 1em;}
	.bordesalados{border-left: none;border-right: none;}
	.nav-pills>li{float: initial;}
	.lista{overflow: hidden;}
	.logo{width: 300px;margin: 2em 10%;}
	.footerSocial{font-size:2em;}
	.footerSocial>.nav-justified > li{display:inline-flex;}
	.cuadroCopyright p{margin:1em 3em;text-align:center;}
}