$primary-color: #020C61;
$secondary-color: #FFB700;
$azul-color: #020C61;
$naranja-color: #FFB700;
$gris-color: #575757;
@font-face {
font-family: Gotham-Bold;
	src: url(Gotham-Bold.ttf);
}
@font-face {
font-family: Gotham-Book;
	src: url(Gotham-Book.ttf);
}
@font-face {
font-family: Gotham-Light;
	src: url(Gotham-light.ttf);
}
body{
	font-family:Gotham-Book;
	color:white;
}
span{
	font-family:Gotham-Bold;
	color:$naranja-color;
}
nav ul{
	display:inline-block;
	float:ringt !important;
}
.slider{
	width:100%;
	height:100%;
}
.esloganPrincipal{
	z-index:99;
	position:absolute;
	float:left;
	left:280px;
	top:180px;
	width:20%;
}
.esloganPrincipal p{
	font-size:1.8em;
	line-height:35px;
	margin-bottom:.3em;
}
.cajaPrincipal{
	width:100vw;
	position:absolute;
	float:left;
	left:70px;
	bottom:100px;
}
.logotipo{
	width:180px;
}
.menu_principal{
	width:60%;
	margin-bottom:0;
}
.nav li a{
	color:white;
}
.nav li a:hover{
	color:black;
}
.botonNaranja{
	font-size:1em;
	background:$naranja-color;
	color:white;
	text-transform:uppercase;
	border:none;
	padding:.5em 1em;
}
.centrado-flex{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.carousel-indicators{
	left:90%;
	top:10%;
}
.imgenes_home{
	width:100%;
}
.imgenes_home2{
	width:100%;
	heigth:100%;
}
.cuadroNaranja{

	background:$naranja-color;
	font-size:1.5em;
	height:14.9em;
}
.cuadroAzul{
	background:$azul-color;	
}
.cuadroNaranja p{
	aling-content:center;
	margin:20% auto;
	padding:2em 1em;
}
.sinpadding{
	padding: 0;
}