.textoNoticias{
	padding: 2em;
	height:308px;
}
.fechaNoticias{
	font-size:1rem;
	border-bottom: black solid 1px;
}
.masNoticias{
	text-transform:uppercase;
	text-align:center;
	padding: 1em 0;
	font-size:1.5em;
}
.imgenesNoticias{
	width: 100%;
}