.opcionesMenuSociales{
	padding: .5em !important;
}
.linea{
	border-bottom: $grisclaro-color thin groove;
}
.cajaPrincipalServicios{
	width:100vw;
	position:absolute;
	float:left;
	left:70px;
	top:30px;
	display:inline-block;
}
.botonIngresar{
	margin-left: 76%;
}
.botonIngresar>button{
	background: none;
	border-width: 1px;
	text-transform: uppercase;
	height: 1.5em;
	font-size: 1rem;
}
.cuadroAzulServicios{
	background:$azul-color;
	font-size:1.5em;
	height:299px !important;
	padding:2em;	
}
.imgenesServicio{
	height: 299px;
}
.cuadroNaranjaServicios{
	text-align:center;
	padding: 3em 1em;
	font-size:2em;
	background:$naranja-color;
	height:299px !important;
	line-height:.9;
}
.tienesServicios{
	text-transform:uppercase;
}
.escribirServicios{
	font-size:2rem;
	margin-bottom:1em;
}
.botonAzul{
	padding:1em .5em .5em .5em;
	border:none;
	font-size:2rem;
	background:$azul-color;
	text-transform:uppercase;
}
.contenidoServicios{
	padding:2em 1em;
}
.contenidoServicios h1{
	margin-top:0;
	text-transform:uppercase;
}
.contenidoServicios h2{
	margin-bottom:0;
	text-transform:uppercase;
}
.contenidoServicios div:nth-child(2),.contenidoServicios div:last-child{
	margin-top:10em;
}
