@font-face {
  font-family: 'icomoon';
  src: url("icomoon.eot?eineih");
  src: url("icomoon.eot?eineih#iefix") format("embedded-opentype"), url("icomoon.ttf?eineih") format("truetype"), url("icomoon.woff?eineih") format("woff"), url("icomoon.svg?eineih#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-network:before {
  content: "\e900"; }

.icon-mas:before {
  content: "\e901"; }

.icon-tierra:before {
  content: "\e902"; }

.icon-checklist:before {
  content: "\f076"; }

.icon-menu:before {
  content: "\e9bd"; }

.icon-plus:before {
  content: "\ea0a"; }

.icon-cross:before {
  content: "\ea0f"; }

.icon-google-plus:before {
  content: "\ea8b"; }

.icon-google-plus2:before {
  content: "\ea8c"; }

.icon-facebook:before {
  content: "\ea90"; }

.icon-facebook2:before {
  content: "\ea91"; }

.icon-twitter:before {
  content: "\ea96"; }

.icon-tumblr2:before {
  content: "\eaba"; }

.icon-linkedin:before {
  content: "\eac9"; }

.icon-linkedin2:before {
  content: "\eaca"; }

.icon-times-circle:before {
  content: "\f057"; }

.icon-bars:before {
  content: "\f0c9"; }

.icon-navicon:before {
  content: "\f0c9"; }

.icon-reorder:before {
  content: "\f0c9"; }

.icon-ship:before {
  content: "\f21a"; }

.icon-directions_boat:before {
  content: "\e532"; }

.icon-social-twitter:before {
  content: "\e903"; }

.icon-social-facebook:before {
  content: "\e904"; }

.icon-social-linkedin:before {
  content: "\e905"; }

.icon-truck:before {
  content: "\e906"; }

.icon-world:before {
  content: "\e907"; }

@font-face {
  font-family: Gotham-Bold;
  src: url(Gotham-Bold.ttf); }

@font-face {
  font-family: Gotham-Book;
  src: url(Gotham-Book.ttf); }

@font-face {
  font-family: Gotham-Light;
  src: url(Gotham-light.ttf); }

html {
  overflow-x: hidden; }

input {
  color: black;
  width: 100%;
  margin: .25em 0; }

a {
  color: white; }

a:hover {
  color: #FFB700;
  background: none !important; }

body {
  font-family: Gotham-Book;
  color: white; }

strong {
  font-family: Gotham-Bold;
  color: #FFB700; }

h4 {
  text-transform: uppercase;
  margin: 3em 0 1em 2em; }

h5 {
  font-family: Gotham-Bold;
  text-transform: uppercase;
  color: #020C61;
  font-size: 1rem; }

.imgenesHome, .imgenesHome2, .imgenesNosotros, .imgenesServicio {
  width: 100%; }

.naranja {
  color: #FFB700; }

.fondoNaranja {
  background: #FFB700; }

.azul {
  color: #020C61; }

.fondoAzul {
  background: #020C61; }

.grisClaro {
  color: #E8E8E8; }

.fondoClaro {
  background: #E8E8E8; }

.grisOscuro {
  color: #575757; }

.fondoGrisOscuro {
  background: #575757; }

.botonIngresarMenuPrincipal {
  background: none;
  color: white;
  text-transform: uppercase;
  border: none; }

.tituloPrincipal {
  font-family: Gotham-Bold;
  text-transform: uppercase;
  margin: 3em 0; }

.tituloPrincipal h1 {
  margin-top: 0; }

.tituloPrincipal h2 {
  margin-bottom: 0; }

.active {
  color: #FFB700; }

.correo {
  font-family: Gotham-Bold; }

.cuadroCopyright {
  background: #575757;
  font-size: 1rem; }

.cuadroCopyright p {
  margin: 1em 0 0 14em; }

.footer {
  background: #E8E8E8;
  font-size: 14px;
  color: #575757;
  font-size: 1rem;
  padding: 2em 0; }

.slider {
  width: 100%;
  height: 100%; }

.esloganPrincipal {
  z-index: 99;
  position: absolute;
  float: left;
  left: 280px;
  top: 200px;
  width: 20%; }

.esloganPrincipal p {
  font-family: Gotham-Bold;
  font-size: 1.8em;
  line-height: 35px;
  margin-bottom: .3em; }

.esloganPrincipal a > button {
  margin: auto 2em; }

.cajaPrincipal {
  width: 100vw;
  position: absolute;
  float: left;
  left: 70px;
  bottom: 70px;
  display: inline-block; }

.logotipo {
  width: 180px; }

.botonNaranja, .botonNaranjaIngresar {
  font-size: 1em;
  background: #FFB700;
  color: white;
  text-transform: uppercase;
  border: none;
  padding: .5em 1em; }

.centrado-flex {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.carousel-indicators {
  left: 80% !important;
  top: 10%;
  width: 10%;
  margin: 0;
  height: 10%; }

.imgenesHome {
  height: 299px; }

.imgenesHome2 {
  height: 374px; }

.cuadroNaranja {
  background: #FFB700;
  height: 299px !important; }

.cuadroNaranja p {
  aling-content: center;
  font-size: 2em;
  padding: 2em; }

.cuadroAzul {
  background: #020C61;
  height: 374px !important;
  padding: 1em; }

.cuadroAzul ul li {
  font-size: 1em; }

.sinpadding {
  padding: 0; }

.texto_icono, .iconEslogan {
  color: #020C61;
  text-align: center; }

.iconEslogan {
  font-size: 6em;
  margin-bottom: 0; }

.cuadroIconos {
  font-size: 1.5em;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em; }

.cuadroIconos > p {
  padding: 1em 0; }

.bordesalados {
  border-left: #E8E8E8 solid 2px;
  border-right: #E8E8E8 solid 2px;
  padding: 0 1.5em; }

.bordesaladosOscuro {
  border-left: #575757 solid 1.5px;
  border-right: #575757 solid 1.5px;
  padding: 0 1.5em; }

.menu_principal {
  font-size: 12px;
  margin-bottom: 0; }

.lista {
  font-family: sans-serif;
  font-size: 1.1em; }

.lista a > button {
  margin: 2em 0 0 10em; }

.menu_social {
  text-align: center; }

.menu_social ul li a {
  padding: .2em .2em; }

.footerSocial, .footerSocial li > a {
  color: #575757; }

.footerSocial li > a:hover {
  color: #FFB700; }

.footerSocial a {
  color: #020C61; }

.footerSocial p, .footerSocial {
  margin: 0; }

.footerSocial {
  font-size: 1.5em;
  margin-top: 2em; }

.opcionesMenuSociales {
  padding: .5em !important; }

.linea {
  border-bottom: #E8E8E8 thin groove; }

.cajaPrincipalServicios {
  width: 100vw;
  position: absolute;
  float: left;
  left: 70px;
  top: 30px;
  display: inline-block; }

.botonIngresar {
  margin-left: 76%; }

.botonIngresar > button {
  background: none;
  border-width: 1px;
  text-transform: uppercase;
  height: 1.5em;
  font-size: 1rem; }

.cuadroAzulServicios {
  background: #020C61;
  font-size: 1.5em;
  height: 299px !important;
  padding: 2em; }

.imgenesServicio {
  height: 299px; }

.cuadroNaranjaServicios {
  text-align: center;
  padding: 3em 1em;
  font-size: 2em;
  background: #FFB700;
  height: 299px !important;
  line-height: .9; }

.tienesServicios {
  text-transform: uppercase; }

.escribirServicios {
  font-size: 2rem;
  margin-bottom: 1em; }

.botonAzul, .botonAzulLiga {
  padding: 1em .5em .5em .5em;
  border: none;
  font-size: 2rem;
  background: #020C61;
  text-transform: uppercase; }

.contenidoServicios {
  padding: 2em 1em; }

.contenidoServicios h1 {
  margin-top: 0;
  text-transform: uppercase; }

.contenidoServicios h2 {
  margin-bottom: 0;
  text-transform: uppercase; }

.contenidoServicios div:nth-child(2), .contenidoServicios div:last-child {
  margin-top: 10em; }

.contenidoNosotros {
  padding: 2em 1em; }

.contenidoNosotros div:first-child h1 {
  margin-top: 0;
  text-transform: uppercase; }

.contenidoNosotros div:first-child h2 {
  margin-bottom: 0;
  text-transform: uppercase; }

.contenidoNosotros div:nth-child(2) {
  text-align: center;
  margin-top: 3em;
  padding: 1.34em;
  font-family: Gotham-Bold; }

.contenidoNosotros div > strong:nth-child(2) {
  font-size: 2em; }

.contenidoNosotros div:last-child {
  padding-top: 7em; }

.cuadroAzulNosotros {
  background: #020C61;
  font-size: 1.5rem;
  padding: 6em 6em; }

.cuadroNaranjaNosotros {
  background: #FFB700;
  font-size: 1.5rem;
  padding: 6em 6em; }

.cuadroGrisOscuro {
  background: #575757;
  height: 339px; }

.blanco {
  color: white; }

.cuadroAzulNosotrosAlcance {
  background: #020C61;
  font-size: 1.5rem;
  padding: 2em 4em;
  height: 339px; }

.imgenesNosotros {
  height: 339px; }

.cuadroAzulOficinas {
  background: #020C61;
  padding: 3em;
  height: 300px; }

.cuadroNaranjaOficinas {
  background: #FFB700;
  padding: 1.8em;
  height: 300px; }

.cuadroAzulOficinas h2, .cuadroNaranjaOficinas h2 {
  font-family: Gotham-Bold;
  font-size: 2em; }

.cuadroAzulOficinas address, .cuadroNaranjaOficinas address {
  margin-bottom: 0; }

.cuadroAzulOficinas p, .cuadroNaranjaOficinas p {
  margin: 0; }

.imagenesOficinas {
  width: 100%; }

.textoNoticias {
  padding: 2em;
  height: 308px; }

.fechaNoticias {
  font-size: 1rem;
  border-bottom: black solid 1px; }

.masNoticias {
  text-transform: uppercase;
  text-align: center;
  padding: 1em 0;
  font-size: 1.5em; }

.imgenesNoticias {
  width: 100%; }

.imgenesContacto {
  width: 100%; }

.botonAzulLiga {
  line-height: normal;
  padding: 1.2em 3em .6em 3em; }

.campoContacto {
  background: #E8E8E8;
  color: #575757;
  margin: .5em 0; }

.tituloContacto, .tituloLigas {
  margin-bottom: 1em; }

.ligasContacto {
  text-align: center; }

.ligasContacto p {
  font-size: 1.5em;
  width: 25%;
  margin: auto; }

.ligasContacto h3 {
  text-transform: uppercase;
  margin-top: 2em; }

.ligasContacto button {
  margin: 1em 0; }

.botonNaranjaIngresar {
  height: 9.3em; }

.formularioReg {
  margin: 1em 0 3em 0; }

.registro {
  margin-top: 2em; }

.ingresar {
  margin-top: 2em; }

.formularioIng {
  margin: 1em 0 7.7em 0; }

.cuadroLigas {
  height: 335px; }

.tituloLigas {
  margin-left: 4em; }

.footerLigas {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
  padding: 1em 0; }
